*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.bg-white{background-color: #FAFAF8;}
.bg-blue{background-color: #ABD3E0;}


.system{
    display: flex;
}

main{
    width: 100%;
}

.main-section{
    padding: 2rem;
}

header{
    width: 224px;
    height: 100vh;
}  

nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 190px;
    align-items:center;
    top: 4rem;
    height: 600px;
    
}

li{
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
}

.hero-section{
    display: flex;
    justify-content: space-between;
}

.image-test{
    height: 500px;
    width: 500px;
    background-color: black;
}

p{
    max-width: 500px;
}

.link-buttons{
    display: flex;
    flex-direction: row;
}