*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.bg-white{background-color: #FAFAF8;}
.bg-blue{background-color: #ABD3E0;}
.text-orange{color: #EB986E;}
.text-black{color: #133057;}


p{
    max-width: 500px;
}

h1{

}


.system{
    display: flex;
    flex-direction: column;
}

main{
    width: 100%;
}

.main-section{
    padding: 2rem;
}



li{
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
}

.hero-section{
    display: flex;
    flex-direction: column;
}

.image-test{
    height: 500px;
    width: 500px;
    background-color: black;
}

.link-buttons{
    display: flex;
    flex-direction: row;
}

.hamburger-menu{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.hamburger-line{
    width: 10px;
    height: 2px;
    background-color: #133057;
}


@media screen and (min-width: 1024px){
    header{
        width: 224px;
        height: 100vh;
    }  
    
    nav{
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 190px;
        align-items:center;
        top: 4rem;
        height: 600px;
    }
}